/* basic styling */
body {
  font-size:15px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(90deg, #952F29 0%,#2C1703 50%);
  height: 400px;
}

h2 {
  margin: 0;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -0.30rem;
  font-family: 'Roboto Slab', sans-serif;
  opacity: 1.0;
}

i {
  color: #770506;
}

p {
  opacity: 0.0;
  margin-bottom: 0;
  margin-top: -6rem;
  transition: opacity 1.2s ease-in-out, margin-top 0.8s ease-in-out;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1.3rem 2rem 0px 4rem;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
}

/* text clipping for heading*/

.text {
  padding-left: 4rem;
  -webkit-text-fill-color:transparent;
  background-size: cover;
  top: -10rem;
  height: auto;
}

/* sections */

.box, .container {
  height: 20rem;
}

.box {
  position: relative;
  top: -1.2rem;
  background-size: cover;
  background-position-y: -4rem;
  transition: box-shadow 1.2s ease-in-out, margin-top 0.8s ease-in-out, height 0.8s ease-in-out;
}

.container {
  margin-top: -10.2rem;
  display:flex;
  transition: box-shadow 1.2s ease-in-out, margin-top 0.8s ease-in-out;
}

/* movement */

.box:hover, 
.container:hover, 
.box:hover p, 
.boxHover,
.boxHover p {
  margin-top: 0rem;
  height:auto;
}

.box:hover p,
.boxHover p {
  opacity: 1.0;
}

.box:hover, 
.container:hover,
.boxHover {
  box-shadow:2px 2px 3px rgba(10, 10, 10, 0.1);
  z-index:200;
  min-height: 16rem;
}

/* flexbox sections */

.link {
  flex-grow:1;
  flex-basis: 15%;
}

.text-body {
  flex-grow: 6;
  flex-basis: 65%;
}

.thumbnail {
  flex-grow: 2;
  flex-basis: 20%;
}

/* vertical text */

.vertical {
  color: #770506;
  background: #fff;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  padding: 0 1.3rem;
  margin: 2rem -12.5rem;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  float: left;
  z-index: 10000;
  position:fixed;
  box-shadow: 3px 3px 4px rgba(10, 10, 10, 0.1);
}

/* this class acts only to keep the sections separate from the vertical text, without .content, .vertical does not work */
#content {
  height: 10rem;
}